
VAPI_API_KEY=
VAPI_PUBLIC_KEY=
OPENAI_API_KEY =
ADMIN_USERNAME=abdel
ADMIN_PASSWORD=abdel2026

# Connect to Supabase via connection pooling

#DATABASE_URL=postgresql://postgres:[pass]@db.fsbwvymnpkyebzhzvsejc.supabase.co:5432/postgres
#DATABASE_URL=postgresql://postgres.mwwplamtugqjmyfncvlk:[pass]@aws-1-ap-south-1.pooler.supabase.com:6543/postgres

#BACKEND_URL=https://voice-agent-pi-eight.vercel.app/
BACKEND_URL=https://gibbosely-un...tive-eliz.ngrok-free.dev

#Rafi_1369/123